:host {
    grid-area: content;
}
.about {
    font-size: 1.15em;
    margin: 10%;
    text-align: justify;
    line-height: 1.15em;
}
.about-link {
    color: blue;
    text-decoration: none;
}
.about-strong {
    color: red;
    font-weight: normal;
}
