<p class="header">Описание пользователя</p>
<form class="params" [formGroup]="fgParams">
    <p>
        <label>Логин:</label><input type="text" readonly formControlName="ctrlLogin"/>
    </p>
    <p>
        <label>Имя:</label><input type="text" formControlName="ctrlName"/>
    </p>
    <p>
        <label>email:</label><input type="text" formControlName="ctrlEmail"/>
    </p>
    <p>
        <label>&nbsp;</label><input type="button" value="Сохранить" [disabled]="!fgParams.valid" (click)="trySave()"/>
    </p>
</form>
<div class="spinner-container" *ngIf="IsWait">
    <div class="spinner-centered">
        <mat-progress-spinner mode="indeterminate" *ngIf="IsWait" class="spinner"></mat-progress-spinner>
    </div>
</div>
